<div class="login-container">
    <h1>Log in</h1>
    <form action="/login" method="post">
        <input type="text" name="email">
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
    <a class="login-link" href="/signup">Don't have an account? Sign up here</a>
</div>